* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background: #f2f4f7; */
  background-color: #1c6ed5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  height: 100%;
  width: 100;
  max-width: 420px;
  background-color: #fff;
  padding: 30px 35px;
  border-radius: 1px solid black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.formdesign {
  border: 2px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.formdesign input {
  padding: 6px;
  margin: 0;
  background-color: floralwhite;
  box-sizing: border-box;
  width: 40vh;

  border: 1px solid black;
  border-radius: 3px;
  font-size: 10px;
  transition: 0.2s ease;
}

.formerror {
  color: red;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
  margin: 2px;
}

.button-container {
  display: flex;
  gap: 12px;
  margin: 15px;
  padding: 12px;
  border-radius: 15px 50px 30px;
}

.button-container .button:hover {
  padding: 5px;
  border-radius: 15px 15px;
  background-color: #1c6ed5;
}

.button-container .btnclear:hover {
  padding: 5px;
  border-radius: 15px 15px;
  background-color: #1c6ed5;
}
